div.toolbar-filter div {
  float: left;
  border: 1px;
  border-left-style: groove;
  padding-right: 10px;
}

div.toolbar-filter div a.filter {
  cursor: pointer;
}
div.toolbar-filter.userCount div.user-issue-cnt-0 {
  background-color: red;
}
.toolbar-filter {
  border-top: 3px #0678be solid;
  overflow: auto;
}
#custom-toolbar .filter-label {
  text-transform: capitalize;
  font-weight: bold;
}
.tagDiv {
  background-color: white;
  border: solid 2px black;
  border-radius: 2px;
  color: black;
}
.tagDiv:disabled {
  background-color: grey;
}

.options-help {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.tag-container {
  float: left;
  padding-right: 10px;
  border-right: 5px solid;
}
.bulk-inputs {
  overflow: auto;
}
