div.userCount div,
div.statusCount div
{
  float: left;
  border: 1px;
  border-style: groove;
  padding-right: 10px;
}
div.userCount div ,
div.statusCount div a.user-filter {
  cursor: pointer;
}
div.userCount div.user-issue-cnt-0{
  background-color: red;
}
.userCount,
.statusCount {
  border: 3px blue solid;
  overflow: auto;
}
