div.usersCount div,
div.statusCount div
{
  float: left;
  border: 1px;
  border-style: groove;
  padding-right: 10px;
}
div.usersCount div ,
div.statusCount div a.user-filter {
  cursor: pointer;
}
div.usersCount div.user-issue-cnt-0 ,div.statusCount div
div.user-issue-cnt-0 {
  background-color: red;
}
.usersCount,
.statusCount {
  border: 3px blue solid;
  overflow: auto;
}
